*{
  margin: 0;
  padding: 0;
}


.hero{
  background-image: url();
}

.allContainer {
  height: 123vh;
  overflow: hidden;
  background-image: url("../img/hero/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.hover-link {
    position: relative;
    text-decoration: none;
    font-size: 20px;
    transition: all .200s ease-in-out;
}


.hover-link:hover, .hover-link:active {
    color: #4E6EF1;
}

.hover-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1.5px;
    background: #4E6EF1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.hover-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hover-link:not(:hover)::after {
    transform-origin: right;
}

.mid-hero{
    font-family: 'Archivo black';
    width: fit-content;
    margin: 90px 0 0 115px;
}

.left{
    width: 700px;
    display: flex;
    flex-direction: column;
}

.mid-hero .welcome{
    margin-top: 200px;
    margin-bottom: 30px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgb(78, 110, 241);
    line-height: 45px;
    letter-spacing: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

.version{
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: rgb(49, 52, 80);
    line-height: 60px;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    margin-top: -10px;
}

.mid-hero{
    display: flex;
    flex-direction: row;
}

.heroImg{
    position: relative;
    right: -180px;
    top: 160px;

}

.picImg{
    opacity: .43;
    transition: all .3s ease-in-out;
}

.picImg:hover{
    opacity: 1;
}

.imgs{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.nav-components{
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-family: Poppins;
    color: rgb(107,111,146);
    margin: 0 100px; 
}

.navCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18em;
}

.navbar--scrolled{ 
    background-color: white;
    box-shadow: 0 5px 10px rgba(177, 177, 177, 0.395);
    transform: translateY(-3px);
}

.nav{
    width: 1520px;
    padding: 17.5px 0 17.5px 115px;
    transition: all .3s ease-in-out;
    position: fixed;
    z-index: 20;
}

.navContainer{
    justify-content: center;
}

.underLeft{
    color: rgb(107,111,146);
    font-family: Poppins;
    margin-top: 35px;
}

.btn{
    background-color:#4E6EF1;
    margin-top: 40px;
    display: inline;
    width: 155px;
    height: 65px;
    text-align: center;
    justify-content: center;
    border-radius: 35px;
    overflow: hidden;
    z-index: 0;
    position:relative;
}

.undBtn::before{
    content:"";
    position: absolute;
    background-color: rgb(49, 52, 80, 0.3);
    width: 0.1px;
    height: 0.1px;
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins;
    transition: all .25s ease-in-out;
    border-radius: 50%;
}

.undBtn:hover::before{
    transform: scale(100);
}

.undBtn button{
    height: 70px;
    color: white;
    font-family: Poppins;
    font-size: 20px;
    z-index: 2;
}

.hov{
    background-color:rgb(49, 52, 80, 0.3);
    width: 40px;
    height: 100px;
    z-index: 1;
    position: relative;
}
